{% extends "base.html" %}

{% block title %}Yeni Şifre Ekle - Şifre Yöneticisi{% endblock %}

{% block content %}
    <header class="content-header">
        <h1>Yeni Şifre Ekle</h1>
        <a href="{{ url_for('dashboard') }}" class="button">Geri Dön</a>
    </header>
    
    <form method="POST" action="{{ url_for('add_password') }}" class="content-form content-form-two-columns">
        <div class="form-column-left">
            <label for="site">Site/Uygulama:</label>
            <input type="text" id="site" name="site" required>

            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-column-right">
            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" required>
            <input type="hidden" id="strength-text-add" name="strength-text-add" value="Bilinmiyor">
            
            <div class="strength-feedback">
                <label id="strength-label-add">Şifre Gücü: Bilinmiyor</label>
                <progress id="strength-progressbar-add" value="0" max="100"></progress>
                <div class="feedback-content">
                    <h4>Şifre Gücü İpuçları:</h4>
                    <ul id="strength-feedback-list">
                        </ul>
                </div>
            </div>
            
            <label for="category">Kategori:</label>
            <div class="form-row">
                <select id="category" name="category" required>
                    {% for cat in categories %}
                        <option value="{{ cat }}">{{ cat }}</option>
                    {% endfor %}
                </select>
                <button id="add-new-category-btn" type="button" class="button accent-button">Yeni Kategori Ekle</button>
            </div>

            <div id="new-category-input-area" style="display: none;" class="form-row new-category-controls">
                <input type="text" id="new-category-name" placeholder="Yeni kategori adı..." />
                <button type="button" id="save-new-category-btn" class="button primary-button">Ekle</button>
                <button type="button" id="cancel-new-category-btn" class="button secondary-button">İptal</button>
            </div>
        </div>
        <button type="submit" class="button primary-button form-submit-button">Kaydet</button>
    </form>
{% endblock %}