{% extends "base.html" %}

{% block title %}Şifre Sıfırla - Şifre Yöneticisi{% endblock %}

{% block content %}
    <header class="content-header">
        <h1>Şifre Sıfırla</h1>
    </header>
    <form method="POST" action="{{ url_for('reset_password', token=token) }}" class="content-form">
        <h2>Yeni Şifrenizi Belirleyin</h2>
        <label for="password">Yeni Şifre:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Yeni Şifreyi Onayla:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button type="submit" class="button primary-button">Şifreyi Sıfırla</button>
    </form>
{% endblock %}