{% extends "base.html" %}

{% block title %}Şifreyi Güncelle - Şifre Yöneticisi{% endblock %}

{% block content %}
    <header class="content-header">
        <h1>Şifreyi Güncelle</h1>
        <a href="{{ url_for('dashboard') }}" class="button">Geri Dön</a>
    </header>
    
    <form method="POST" action="{{ url_for('update_password', password_id=entry.id) }}" class="content-form content-form-two-columns">
        <div class="form-column-left">
            <label for="site">Site/Uygulama:</label>
            <input type="text" id="site" name="site" value="{{ entry.site }}" required>

            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" value="{{ entry.username }}" required>
        </div>
        <div class="form-column-right">
            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" value="{{ decrypted_pwd }}" required>
            <input type="hidden" id="strength-text-update" name="strength-text-update" value="{{ entry.strength }}">
            
            <div class="strength-feedback">
                <label id="strength-label-update">Şifre Gücü: Bilinmiyor</label>
                <progress id="strength-progressbar-update" value="0" max="100"></progress>
                <div class="feedback-content">
                    <h4>Şifre Gücü İpuçları:</h4>
                    <ul id="strength-feedback-list-update">
                        </ul>
                </div>
            </div>
            

            <label for="category">Kategori:</label>
            <div class="form-row">
                <input type="text" id="category" name="category" value="{{ entry.category }}" required>
            </div>
            
            <div id="new-category-input-area" style="display: none;" class="form-row new-category-controls">
                <input type="text" id="new-category-name" placeholder="Yeni kategori adı..." />
                <button type="button" id="save-new-category-btn" class="button primary-button">Ekle</button>
                <button type="button" id="cancel-new-category-btn" class="button secondary-button">İptal</button>
            </div>
        </div>
        <button type="submit" class="button primary-button form-submit-button">Güncelle</button>
    </form>
{% endblock %}